name: Build and publish installer kernel builder image

on:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile.build-installer-kernel-builder-image'
      - '.github/workflows/build.yml'
  workflow_dispatch: {}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: downcase Repository owner
        run: |
          echo "REPO_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}          

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.build-installer-kernel-builder-image
          push: true
          tags: |
            ghcr.io/${{ env.REPO_OWNER }}/truthdb-installer-kernel-build:latest
            ghcr.io/${{ env.REPO_OWNER }}/truthdb-installer-kernel-build:${{ github.sha }}